.active {
    border-color: antiquewhite antiquewhite antiquewhite antiquewhite;
}
.inactive {
    border-color: beige;
}
.border {
    border: 1px solid #ccc;
    /* width: 60px; */
    /* 宽度随bpm而变 */
    height: 100px;
}
.meta-border {
    border: 1px solid #bbb;
    height: 30px;
}
